numpy>=1.26.4
pandas>=2.2.2
torch>=2.3.1  # pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
scikit-learn>=1.5.0
tiktoken>=0.7.0
openai>=1.34.0
transformers>=4.41.2
sentence-transformers>=3.0.1
networkx>=3.3
requests>=2.32.3
jupyter>=1.0.0
python-dotenv>=1.0.1
openpyxl>=3.1.4
mergedeep>=1.3.4
pycryptodomex>=3.20.0
stanza>=1.8.2
obeliks>=1.1.6
reldi-tokeniser>=1.0.3
evaluate>=0.4.2